In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
#!pip install --upgrade plotly

In [3]:
 import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt

In [4]:
cnf, dth, rec, act = '#393e46', '#ff2e63', '#21bf73', '#fe9801'

India --> 42                                                 
USA ---> 39

In [5]:
df = pd.read_csv("/content/gdrive/MyDrive/owid-covid-data.csv")

In [6]:
df["location"].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America',
       'North Macedonia', 'Northern Cyprus', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Wallis and Futuna', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [7]:
df[df["location"] == "India"]

      iso_code continent  ... life_expectancy human_development_index
38668      IND      Asia  ...           69.66                   0.645
38669      IND      Asia  ...           69.66                   0.645
38670      IND      Asia  ...           69.66                   0.645
38671      IND      Asia  ...           69.66                   0.645
38672      IND      Asia  ...           69.66                   0.645
...        ...       ...  ...             ...                     ...
39155      IND      Asia  ...           69.66                   0.645
39156      IND      Asia  ...           69.66                   0.645
39157      IND      Asia  ...           69.66                   0.645
39158      IND      Asia  ...           69.66                   0.645
39159      IND      Asia  ...           69.66                   0.645

[492 rows x 59 columns]

In [ ]:
dataset["date"].min()

In [ ]:
dataset["date"].max()

In [ ]:
 dataset.head()

In [ ]:
features = ["location", "new_cases", "population"]

In [ ]:
dataset_India = dataset[dataset["location"] == "India"]

In [ ]:
features = ["location", "date", "total_cases", "new_cases", "total_deaths", "new_deaths", "new_deaths_smoothed", "total_cases_per_million", "new_cases_per_million", "new_cases_smoothed_per_million", "population"]

In [ ]:
features = ["location", "total_deaths", "population", "Mortality_Rate"]

In [ ]:
dataset_India["Mortality_Rate"] = " "

In [ ]:
dataset = dataset_India[features]

In [ ]:
dataset.sample(5)
dataset.info()

In [ ]:
dataset

In [ ]:
dataset.isna().sum()

In [ ]:
dataset.head(42)

In [ ]:
df["location"].unique()

In [ ]:
dataset_USA = df[df["location"] == "United States"]

In [ ]:
dataset_USA = dataset_USA[features]

In [ ]:
df

In [ ]:
features = ["location", "date", "new_deaths", "population"]

In [ ]:
dataset_India = dataset_India[dataset_India["location"] == "India"]

In [ ]:
dataset_India.isna().sum()

In [ ]:
dataset_India["Mortality_Rate"] = " "

In [ ]:
dataset_India.isna().sum()

In [ ]:
dataset_India.dropna(inplace = True)

In [ ]:
dataset_India.tail()

In [ ]:
dataset_India["Mortality_Rate"] = dataset_India["new_deaths"]/dataset_India["population"]

In [ ]:
dataset_India.head()

In [ ]:
dataset_India.tail()

In [ ]:
dataset_UK = df[df["location"] == "United Kingdom"]

In [ ]:
dataset_UK = dataset_UK[features]

In [ ]:
dataset_UK

In [ ]:
dataset_UK.dropna(inplace = True)

In [ ]:
dataset_UK.dropna(inplace = True, )

In [ ]:
df["date"].max()

In [ ]:
df["date"].min()

In [ ]:
df["date"] = pd.to_datetime(df["date"])

In [ ]:
df = df[df["date"] > "2020-04-30"]

In [ ]:
df = df[features]

In [ ]:
dataset_India = df[df["location"] == "India"]

In [ ]:
dataset_India["Mortality_Rate"] = " "

In [ ]:
dataset_India["Mortality_Rate"] = dataset_India["new_deaths"]/dataset_India["population"]

In [ ]:
fig = px.bar(dataset_India, x = , y = "Fatalities", labels = {"x" : "Country"}, color = "Fatalities", color_continuous_scale = px.colors.sequential.Turbo)
fig.update_layout(title_text = "Deaths COVID-19 Cases by Country")
fig.show()

In [ ]:
dataset_India.head()

In [ ]:
dataset_India.set_index(keys = "date", inplace = True)

In [ ]:
dataset_India.head()

In [ ]:
dataset_India.tail()

In [ ]:
dataset_India1 = df[df["location"] == "India"]
dataset_India1["Mortality_Rate"] = " "

In [ ]:
dataset_India1["Mortality_Rate"] = dataset_India1["new_deaths"]/dataset_India1["population"]

In [ ]:
dataset_India1.head(2)

In [ ]:
fig = px.area(dataset_India1, x = "date", y = "new_deaths", height = 600, width = 700, title = "Deaths Over Time", color_discrete_sequence = [rec, dth])
fig.update_layout(xaxis_rangeslider_visible = True)
fig.show()

In [ ]:
fig = px.area(dataset_India1, x = "date", y = "Mortality_Rate", height = 600, width = 700, title = "Deaths Over Time", color_discrete_sequence = [rec, dth])
fig.update_layout(xaxis_rangeslider_visible = True)
fig.show()